@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/optima');

body {
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
